.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local.properties
.kotlin/
/.android/
/.animeko-user-home/
/.gradle-local/
**/test-sandbox/
**/*.podspec
/venv/
/*.patch
bin/

                           
/*-launch.png
/*-launch.xml
/buildlanguage-initial.png
/buildlanguage-initial.xml
/emulator-*.log

                    
**/local.kt

                       
app/android/release
app/android/debug

                     
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.run/Preview*.xml

               
.vscode/

              
.DS_Store

.env
.env.*
*.jks
*.keystore
*.p12
*.pem
*.key
**/secrets/**
kls_database.db
app/shared/app-data/src/*Main/composeResources/files/source-plugins/
