.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local.properties
.kotlin/
/.android/
/.animeko-user-home/
/.gradle-local/
**/test-sandbox/
**/*.podspec
/venv/
/*.patch
bin/
Podfile.lock

# Local verification output
/*-launch.png
/*-launch.xml
/buildlanguage-initial.png
/buildlanguage-initial.xml
/emulator-*.log

# Local source files
**/local.kt

# Android build outputs
app/android/release
app/android/debug

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.run/Preview*.xml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.env
.env.*
*.jks
*.keystore
*.p12
*.pem
*.key
**/secrets/**
kls_database.db
/app/ios/Animeko/GoogleService-Info.plist
/app/ios/12.4.0
/app/ios/xcb2.log
/app/ios/xcodebuild.log
