<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2024-2026 OpenAni and contributors.
  ~
  ~ 此源代码的使用受 GNU AFFERO GENERAL PUBLIC LICENSE version 3 许可证的约束, 可以在以下链接找到该许可证.
  ~ Use of this source code is governed by the GNU AGPLv3 license, which can be found at the following link.
  ~
  ~ https://github.com/open-ani/ani/blob/main/LICENSE
  -->

<!-- default (手机) flavor 增量 manifest, 与 src/main 交集做加法合并. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 扫码登录. 相机不是必需的: 没有相机的设备 (平板, Chromebook) 仍可安装 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"
            tools:ignore="ScopedStorage" />

    <application android:name="me.him188.ani.android.AniApplication">

        <activity
                android:name="me.him188.ani.android.activity.MainActivity"
                android:exported="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="bangumi-oauth-callback"
                        android:scheme="ani" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="wynime-bangumi-broker.wzhou785.workers.dev"
                        android:path="/app/oauth-complete"
                        android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="subjects"
                        android:scheme="ani" />
            </intent-filter>

        </activity>
    </application>
</manifest>
